<link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='style.css') }}"/>

<!-- Nav Bar -->
<nav>
	<a href="/">Back To Homepage</a>
	<a>|</a>
	<a href="/author">Search By Author</a>
	<a>|</a>
	<a href="/keyword">Search By Keyword</a>
</nav>
<hr>

<!-- Heading -->
{% if author == '' %}
<h2>Input the author name to filter design pricinples!</h2>

{% else %}
<h2>Design Principles by {{author}}</h2>

{% endif %}

<!-- Input Field -->
<form action="/author" method="POST">
	Author: <input type="text" name="author">
	<button type='submit'>Search</button>
</form>
<br>

<!-- Principle Tables -->

<!-- No searching result -->
{% if my_list == [] %}
<table>
<tr>
	<th>Design Principles Heading</th>
	<th>Author</th>
	<th>Source</th>
	<th> </th>
</tr>
</table>

<br>
<div>Your search did not match any design principles.</div>

<!-- Present searching result -->
{% else %}
<table>
<tr>
	<th>Design Principles Heading</th>
	<th>Author</th>
	<th>Source</th>
	<th> </th>
</tr>
{% for item in my_list %}
<tr>
	<td>{{item[0]}}</td>
	<td>{{item[3]}}</td>
	<td><a href="{{item[1]}}">{{item[2]}}</a></td>
	<td>
		<form action='/list/{{item[4]}}' method="POST">
			<button type='submit'>Read More</button>
		</form>
	</td>
</tr>
{% endfor %}
</table>

{% endif %}