{% if keyword == '' %}

<h2> Start Searching for relevant design principles by inputting a keyword! </h2>

{% else %}

<h2> Design Principles relevant to {{keyword}} </h2>

{% endif %}

<form action="/keyword" method="POST">
	Author: <input type="text" name="keyword">

	<input type="submit" name="submit">
</form>

{% if keyword == '' %}

<br>

{% else %}

<table>

<tr>
	<th>Principle</th>
	<th>Sources</th>
	<th>Author</th>
</tr>
{% for item in my_list %}
<tr>
	<td>{{item[0]}}</td>
	<td>{{item[2]}}</td>
	<td>{{item[4]}}</td>
</tr>
{% endfor %}
</table>

{% endif %}